<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>Douglas Keller - Assignment 1</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="public/stylesheets/application.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Pavanam|Roboto:100" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  </head>
  <body>
    <section class="parallax doug-background" style="height: 100vh; flex-direction: column;">
      <div class="center-justified main title">
        <h1>douglas keller</h1>
      </div>
      <div>
        <ul class="related">
          <li>
            <a class="fa fa-github" href="https://github.com/DougKeller" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-linkedin" href="https://www.linkedin.com/in/douglas-keller-56497610a" target="_blank"></a>
          </li>
          <li>
            <a class="fa fa-envelope" href="mailto:dwk24@zips.uakron.edu" target="_top"></a>
          </li>
        </ul>
      </div>
    </section>
    <section class="content-wrapper"></section>

    <section class="parallax cas-background">
      <div class="center-justified title">
        <h1>education</h1>
      </div>
    </section>
    <section class="content-wrapper">
      <section class="content">
        <div class="left-justified">
          <h2>the university of akron</h2>
          <h3>college of arts and sciences</h3>
          <br />
          <span><b>major</b> computer science</span>
          <span><b>minor</b> mathematics</span>
        </div>
        <div class="right-justified">
          <span>2013 - present</span>
          <span>3.82 gpa</span>
        </div>
      </section>
    </section>

    <section class="parallax patriot-background">
      <div class="center-justified title">
        <h1>work history</h1>
      </div>
    </section>
    <section class="content-wrapper">
      <section class="content">
        <div class="left-justified">
          <h2>patriot software, inc.</h2>
          <h3>software developer</h3>
        </div>
        <div class="right-justified">
          <span>may 2015 - present</span>
        </div>
      </section>
      <section class="content">
        <div class="left-justified">
          <h2>department of electrical engineering</h2>
          <h3>web developer</h3>
        </div>
        <div class="right-justified">
          <span>august - december 2015</span>
        </div>
      </section>
      <section class="content">
        <div class="left-justified">
          <h2>tomtreyco mcdonald's</h2>
          <h3>crew trainer</h3>
        </div>
        <div class="right-justified">
          <span>september 2011 - may 2015</span>
        </div>
      </section>
    </section>

    <section class="parallax computer-background">
      <div class="center-justified title">
        <h1>skills</h1>
      </div>
    </section>
    <section class="content-wrapper">
      <section class="content">
        <div class="left-justified">
          <h2>programming languages</h2>
          <ul>
            <li>Ruby</li>
            <li>Javascript</li>
            <li>HTML</li>
            <li>Java</li>
            <li>Swift</li>
            <li>C++</li>
            <li>C#</li>
            <li>C</li>
            <li>Matlab</li>
            <li>SQL</li>
          </ul>
          <h2>frameworks and libraries</h2>
          <ul>
            <li>Ruby on Rails</li>
            <li>AngularJS</li>
            <li>MomentJS</li>
            <li>NodeJS</li>
            <li>ExpressJS</li>
            <li>ASP.NET</li>
            <li>Apache Solr</li>
          </ul>
          <h2>operating systems</h2>
          <ul>
            <li>Microsoft Windows XP, 7, 8, 10</li>
            <li>Ubuntu 16.04</li>
            <li>macOS Sierra, El Capitan</li>
          </ul>
        </div>
      </section>
    </section>

    <section class="parallax wood-background">
      <div class="center-justified title">
        <h1>Bio</h1>
      </div>
    </section>
    <section class="content-wrapper">
      <blockquote>
        My name is Doug Keller and I am a senior pursuing a Bachelor of Science degree in Computer Science with a minor in Mathematics. I first began teaching myself to code in middle school, and after taking a course in Computer Science in high school I knew that I wanted to have a career in software development.

        <br />
        <br />

        I have experience in a broad variety of languages, and I am continuously exploring ways to improve myself as a professional software developer. I have nearly two years of experience in web development thanks to my experience at Patriot Software, Inc., and in that time I have gained immense knowledge of AngularJS and Ruby on Rails, and I have learned some of the best practices for web design and development.
      </blockquote>
    </section>

    <section class="parallax code-background" style="height: 25vh">
    </section>
  </body>
</html>