.parallax {
  height: 75vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  color: white;
}

.cas-background {
  background-image: url('http://doug-keller.com/public/images/cas.jpg');
}

.patriot-background {
  background-image: url('http://doug-keller.com/public/images/patriot.jpg');
}

.doug-background {
  background-image: url('http://doug-keller.com/public/images/doug.jpg');
}

.code-background {
  background-image: url('http://doug-keller.com/public/images/code.jpg');
}

.computer-background {
  background-image: url('http://doug-keller.com/public/images/computer.jpg');
}

.wood-background {
  background-image: url('http://doug-keller.com/public/images/wood.jpg');
}

.title {
  background: rgba(200, 200, 200, 0.1);
  padding: 20px;
  width: 100%;
}

.title.main {
  color: #222244;
}

.center-justified {
  text-align: center;
}

.left-justified {
  text-align: left;
}

.right-justified {
  text-align: right;
}

.content-wrapper {
  /*min-height: 10vh;*/
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 1000px;
}
.content:not(:last-child) {
  padding-bottom: 20px;
}

.related {
  display: block;
  font-size: 1.2rem;
}


html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #888;
}
a {
  font-size: 1rem;
  text-decoration: none;
  color: #eee;
}
a:hover {
  color: #79e;
}
ul {
  list-style: none;
  padding: 0px;
}
ul li {
  display: inline-block;
  padding: 0.5rem;
}
h1, h2, h3 {
  padding: 0px;
  margin: 0px;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
  font-weight: 100;
}
span {
  display: block;
}
blockquote {
  width: 60vw;
}